@charset "utf-8";
/* CSS Document */

body{
	background-image:url(images/background.jpg);
	background-repeat:no-repeat;
	background-color:#73a40d;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:center;
}

h2{
	 font-family:Arial, Helvetica, sans-serif;
	 font-size:24px;
	 margin:0px 5px 14px 5px;
}

.headerDiv{
	height:110px;
	margin-bottom:10px;
	background-image:url(images/headerlogo.gif);
	background-repeat:no-repeat;
	background-position:center;
}

.indexBodyDiv{
	margin:auto;
	width:350px;
}

.indexFormDiv{
	margin:auto;
	width:260px;
	background-color:white;
	padding:10px 15px 15px 15px;
	border:3px #73a40d solid;
}

.inputTagDiv{
	width:130px;
	height:22px;
	float:left;
	text-align:left;
	font-weight:bold;
}

.formInputDiv{
	height:22px;
	text-align:left;
}

.textField{
	border:1px black solid;
	width:130px;
	height:22px;
	padding:2px;
}

.chatMainDiv{
	margin:auto;
	width:815px;
	background-color:#F00;
}

.chatMessagesDiv{
	background-color:white;
	width:620px;
	height:400px;
	border:3px #73a40d solid;
	padding:5px 5px 5px 5px;
	text-align:left;
	float:left;
}

.chatListDiv{
	background-color:white;
	width:150px;
	height:200px;
	border:3px #73a40d solid;
	padding:5px 5px 5px 5px;
	text-align:left;
	float:right;
	font-weight:bold;
	
}